/* Cascade StyleSheet */

body {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

table {
    background-color: #f9f900;
    color: white;
    width: 100%;
}

thead {
    background-color: #6538d5;
}

thead th {
    padding: 8px;
    font-weight: bold;
}

tbody td {
    padding: 4px;
    color: black;
}

tbody tr:hover {
    background-color: #999;
    cursor: pointer;
}

button {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 16px;
    border-radius: 8px;
    border-width: 0;
}

button:hover {
    filter: brightness(0.5);
}

button[type="submit"]{
    background-color: green;
}

div > a {
    text-decoration: none;
    color: blueviolet;
    font-weight: 500;

    transition: color 3s ease;
}

div > a:hover {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    transition: color 3s ease;
}

div {
    width: 100%;
}

div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div > form {
    column-span: 2;
}

ol {
    list-style-type: lower-roman;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    padding-top: 1rem;
}

form input {
    width: 100%;
}

form input:invalid, 
form textarea:invalid,
form select:invalid
{
    border-color: red;
}

#curso-nome {
    padding: 8px;
}

