/* Cascade StyleSheet */


* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

table {
    background-color: #f9f900;
    color: white;
    width: 100%;
}

thead {
    background-color: #6538d5;
}

thead th {
    padding: 8px;
    font-weight: bold;
}

tbody td {
    padding: 4px;
    color: black;
}

tbody tr:hover {
    background-color: #999;
    cursor: pointer;
}

button {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 16px;
    border-radius: 8px;
    border-width: 0;
}

button:hover {
    filter: brightness(0.5);
}

button[type="submit"] {
    background-color: green;
}

button[type="reset"] {
    background-color: gray;
    box-shadow: black 1px 2px 3px;
}

div>a {
    text-decoration: none;
    color: blueviolet;
    font-weight: 500;

    transition: color 3s ease;
}

div>a:hover {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    transition: color 3s ease;
}

div {
    width: 100%;
}

div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div>form {
    column-span: 2;
}

ol {
    list-style-type: lower-roman;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    padding-top: 1rem;
}

form input,
form textarea {
    width: 100%;
}

form input:invalid,
form textarea:invalid,
form select:invalid {
    border-color: red;
}

form input:invalid:focus,
form textarea:invalid:focus,
form select:invalid:focus {
    border: 2px solid red;
}

#curso-nome {
    padding: 8px;
}

.grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 100%;
    padding: 16px;
}

.grid-cards img {
    border-radius: 50%;
    border: 1px solid black;
    min-width: 72px;
}

main {
    padding: 16px 16px 24px 16px;
}

.card li:has(img) {
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 16px;
    border: 1px solid black;
    padding: 8px;
}

.card:hover {
    box-shadow: black 4px 6px 8px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: background-color 2s ease;
}

.card h4 {
    text-align: center;
}

.card ul {
    list-style-type: none;
    padding: 0 8px;
}

.card li {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

select {
    padding: 8px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.row-end {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}

.row input {
    flex: 1;
    padding: 8px;
}

.column input {
    padding: 8px;
}

textarea {
    padding: 8px;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.60);
}

.modal form {
    padding: 24px;
    background-color: white;
    height: fit-content;
    border-radius: 16px;
}

.hidden {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

nav li {
    padding: 8px 4px;
    color: white;
}

nav a:active,
nav a:visited {
    color: inherit;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 4px;
}

nav {
    width: 100%;
    background-color: #999;
    height: fit-content;
}

nav li:hover {
    background-color: white;
    color: black;
}


.column {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}

input {
    border-radius: 4px;
    border-width: 1px;
}

button:hover {
    cursor: pointer;
}
